@inherits LayoutComponentBase

<div>
            
    <div class="sticky-top">
        <NavMenu></NavMenu>
    </div>
    <div class="container">
        @Body
    </div>
</div>

<BlazoredToasts ShowProgressBar="true"  Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"/>