.navbar-nav {
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.nav-item{
    margin-left:1rem;
}

a.nav-link.active {
    font-weight: 600;
}