@page "/history"
@inject IBattleService BattleService;
@inject IToastService ToastService;

@if (BattleService.IsUserInBattle)
{
    <Battle BattleId="@BattleService.CurrentBattleId" OnBattleCompleted="BattleCompleted" />
}
else
{
    <span>you are not in battle</span>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await BattleService.GetCurrentBattle();
    }

    public void BattleCompleted()
    {
        StateHasChanged();
    }
}
