@page "/history"
@inject IBattleService BattleService;
@inject IToastService ToastService;
@inject IUserService UserService;

@if (BattleService.IsUserInBattle)
{
    <Battle BattleId="@BattleService.CurrentBattleId" OnBattleCompleted="BattleCompleted" />
}
else
{
    @if (UserService.History.Count == 0)
    {
        <span>Loading History</span>
    }
    else
    {
        <div>
            <div>
                <ul class="list-group">
                    @foreach (BattleHistoryEntry item in UserService.History)
                    {
                        if (item.YouWon)
                        {
                            <li class="list-group-item list-group-item-success">
                                @item.OpponentName
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item list-group-item-danger">
                                @item.OpponentName
                            </li>
                        }
                    }
                </ul>
            </div>
            <div></div>
        </div>
    }
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await BattleService.GetCurrentBattle();
        await UserService.GetHistoryAsync();
    }

    public void BattleCompleted()
    {
        StateHasChanged();
    }
}
